<div class="home" fxFlex="100">
  <section fxFlex="100">
    <div *ngIf="!media.isActive('gt-sm')" class="home__search_container">

    </div>

    <div class="home__main_movie" fxLayoutAlign="center center">
      <ng-template [ngIf]="!lastMovie || !lastMovie.imageData" [ngIfElse]="coverPageImage">
        <app-loader [isLoading]="true" size="1.5"></app-loader>
      </ng-template>

      <ng-template #coverPageImage>
        <img [src]="lastMovie.imageData" alt="Image not found">
      </ng-template>
    </div>
  </section>

  <section fxFlex="100">
    <app-movie-grilla
      [data]="movies"
      [isLoading]="isLoading">
    </app-movie-grilla>
  </section>
</div>
