@import 'src/app/shared/styles/index';

.home {
  min-height: 100%;
  padding: 24px;

  &__main_movie {
    height: 36vh;
    min-height: 200px;
    overflow: hidden;
    width: 100%;

    img {
      @include transition(all, 0.4s);

      object-fit: fill;
      height: 100%;
      width: 100%;

      &:hover {
        @include transform(scale(1.1));
      }
    }
  }

  section:first-child {
    margin-bottom: 24px;
  }
}
