<div class="grid" fxFlex="100">
  <ng-template [ngIf]="isLoading" [ngIfElse]="grid">
    <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
  </ng-template>

  <ng-template #grid>
    <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="10px grid">
      <div
        class="grid__item"
        [fxFlex]="gridDistribution"
        (click)="movieSelected(movie)"
        *ngFor="let movie of movies">
        <app-movie-card [data]="movie"></app-movie-card>
      </div>
    </div>
  </ng-template>
</div>
