/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// stylelint-disable-next-line selector-max-universal
* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

mat-sidenav.mat-drawer:not(.mat-drawer-side) {
  box-shadow: unset;
}

input {
  border: 1px solid rgba(86, 86, 86, 0.46);
  font-size: 16px;
  height: 40px;

  &:hover {
    outline: none;
    border-color: rgb(86, 86, 86);
  }
}
