@import 'src/app/shared/styles/index';

.user_profile {
  min-height: calc(100% - 66px);

  &__username {
    color: $color-05;
  }

  &__unmodified_user_data {
    margin-top: 50px;
  }

  &__change_password {
    margin-top: 30px;
  }

  h2 {
    margin: 0;

    @include mobile() {
      font-size: 30px;
    }
  }

  mat-card {
    max-width: 700px;
    margin: 24px;
    width: 100%;

    @include mobile() {
      margin: 0;
    }
  }

  mat-form-field {
    width: 100%;
  }

  section {
    margin-bottom: 32px;
    margin-top: 60px;

    button {
      height: 40px;
      width: 100%;
    }

    &:last-child {
      margin-bottom: 0;

      button {
        margin-bottom: 10px;
      }
    }
  }
}
