@import './colors';

/**
  General classes to use trough the platform
 */

.global {
  &_pointer_cursor {
    cursor: pointer;
  }

  &_remove_outline_focous {
    &:focus {
      outline: none;
    }
  }

  &_fit-content {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  &_overflow_auto {
    overflow: auto;
  }

  &_uppercase {
    text-transform: uppercase;
  }

  &_lowercase {
    text-transform: lowercase;
  }

  &_capitalize {
    text-transform: capitalize;
  }
}

@mixin ampapp__mobile_button() {
  background-color: $white;
  height: 40px;
}

.ampapp {
  &__mobile_button {
    @include ampapp__mobile_button();

    &__type01 {
      @include ampapp__mobile_button();

      border-radius: 100%;
      width: 40px;
    }
  }

  &__user_menu {
    > div {
      padding: 0;

      > mat-list {
        padding-top: 0;

        span {
          margin-top: 2px;
        }
      }
    }
  }
}
