$color-01: #565656;
$color-02: rgb(86, 86, 86);
$color-03: rgba(86, 86, 86, 0.46);
$color-04: rgba(86, 86, 86, -0.54);
$color-05: rgba(86, 86, 86, 0.66);

$white: rgb(255, 255, 255);
$primary: #ff5722;
