@font-face {
    font-family: 'Libre Franklin';
    src: url('assets/fonts/LibreFranklin-Bold.eot');
    src: url('assets/fonts/LibreFranklin-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/LibreFranklin-Bold.woff2') format('woff2'),
        url('assets/fonts/LibreFranklin-Bold.woff') format('woff'),
        url('assets/fonts/LibreFranklin-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('assets/fonts/LibreFranklin-Medium.eot');
    src: url('assets/fonts/LibreFranklin-Medium.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/LibreFranklin-Medium.woff2') format('woff2'),
        url('assets/fonts/LibreFranklin-Medium.woff') format('woff'),
        url('assets/fonts/LibreFranklin-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('assets/fonts/LibreFranklin-Light.eot');
    src: url('assets/fonts/LibreFranklin-Light.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/LibreFranklin-Light.woff2') format('woff2'),
        url('assets/fonts/LibreFranklin-Light.woff') format('woff'),
        url('assets/fonts/LibreFranklin-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'CircularSaw';
    src: url('assets/fonts/CircularSawRegularSWFTE.eot');
    src: url('assets/fonts/CircularSawRegularSWFTE.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CircularSawRegularSWFTE.woff2') format('woff2'),
        url('assets/fonts/CircularSawRegularSWFTE.woff') format('woff'),
        url('assets/fonts/CircularSawRegularSWFTE.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CircularSawExtended';
    src: url('assets/fonts/CircularSawExtendedObliqueSWFTE.eot');
    src: url('assets/fonts/CircularSawExtendedObliqueSWFTE.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CircularSawExtendedObliqueSWFTE.woff2') format('woff2'),
        url('assets/fonts/CircularSawExtendedObliqueSWFTE.woff') format('woff'),
        url('assets/fonts/CircularSawExtendedObliqueSWFTE.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('assets/fonts/LibreFranklin-Black.eot');
    src: url('assets/fonts/LibreFranklin-Black.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/LibreFranklin-Black.woff2') format('woff2'),
        url('assets/fonts/LibreFranklin-Black.woff') format('woff'),
        url('assets/fonts/LibreFranklin-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('assets/fonts/LibreFranklin-LightItalic.eot');
    src: url('assets/fonts/LibreFranklin-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/LibreFranklin-LightItalic.woff2') format('woff2'),
        url('assets/fonts/LibreFranklin-LightItalic.woff') format('woff'),
        url('assets/fonts/LibreFranklin-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('assets/fonts/LibreFranklin-Thin.eot');
    src: url('assets/fonts/LibreFranklin-Thin.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/LibreFranklin-Thin.woff2') format('woff2'),
        url('assets/fonts/LibreFranklin-Thin.woff') format('woff'),
        url('assets/fonts/LibreFranklin-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('assets/fonts/LibreFranklin-ExtraLight.eot');
    src: url('assets/fonts/LibreFranklin-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/LibreFranklin-ExtraLight.woff2') format('woff2'),
        url('assets/fonts/LibreFranklin-ExtraLight.woff') format('woff'),
        url('assets/fonts/LibreFranklin-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('assets/fonts/LibreFranklin-BoldItalic.eot');
    src: url('assets/fonts/LibreFranklin-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/LibreFranklin-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/LibreFranklin-BoldItalic.woff') format('woff'),
        url('assets/fonts/LibreFranklin-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'CircularSawOutline';
    src: url('assets/fonts/CircularSawOutlineObliqueSWFTE.eot');
    src: url('assets/fonts/CircularSawOutlineObliqueSWFTE.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CircularSawOutlineObliqueSWFTE.woff2') format('woff2'),
        url('assets/fonts/CircularSawOutlineObliqueSWFTE.woff') format('woff'),
        url('assets/fonts/CircularSawOutlineObliqueSWFTE.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('assets/fonts/LibreFranklin-SemiBold.eot');
    src: url('assets/fonts/LibreFranklin-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/LibreFranklin-SemiBold.woff2') format('woff2'),
        url('assets/fonts/LibreFranklin-SemiBold.woff') format('woff'),
        url('assets/fonts/LibreFranklin-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('assets/fonts/LibreFranklin-Regular.eot');
    src: url('assets/fonts/LibreFranklin-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/LibreFranklin-Regular.woff2') format('woff2'),
        url('assets/fonts/LibreFranklin-Regular.woff') format('woff'),
        url('assets/fonts/LibreFranklin-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('assets/fonts/LibreFranklin-ExtraBoldItalic.eot');
    src: url('assets/fonts/LibreFranklin-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/LibreFranklin-ExtraBoldItalic.woff2') format('woff2'),
        url('assets/fonts/LibreFranklin-ExtraBoldItalic.woff') format('woff'),
        url('assets/fonts/LibreFranklin-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Circular';
    src: url('assets/fonts/Circular-Medium.eot');
    src: url('assets/fonts/Circular-Medium.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Circular-Medium.woff2') format('woff2'),
        url('assets/fonts/Circular-Medium.woff') format('woff'),
        url('assets/fonts/Circular-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('assets/fonts/Circular-MediumItalic.eot');
    src: url('assets/fonts/Circular-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Circular-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/Circular-MediumItalic.woff') format('woff'),
        url('assets/fonts/Circular-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('assets/fonts/LibreFranklin-Italic.eot');
    src: url('assets/fonts/LibreFranklin-Italic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/LibreFranklin-Italic.woff2') format('woff2'),
        url('assets/fonts/LibreFranklin-Italic.woff') format('woff'),
        url('assets/fonts/LibreFranklin-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('assets/fonts/LibreFranklin-ExtraLightItalic.eot');
    src: url('assets/fonts/LibreFranklin-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/LibreFranklin-ExtraLightItalic.woff2') format('woff2'),
        url('assets/fonts/LibreFranklin-ExtraLightItalic.woff') format('woff'),
        url('assets/fonts/LibreFranklin-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Book';
    src: url('assets/fonts/Circular-BookItalic.eot');
    src: url('assets/fonts/Circular-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Circular-BookItalic.woff2') format('woff2'),
        url('assets/fonts/Circular-BookItalic.woff') format('woff'),
        url('assets/fonts/Circular-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('assets/fonts/LibreFranklin-BlackItalic.eot');
    src: url('assets/fonts/LibreFranklin-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/LibreFranklin-BlackItalic.woff2') format('woff2'),
        url('assets/fonts/LibreFranklin-BlackItalic.woff') format('woff'),
        url('assets/fonts/LibreFranklin-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('assets/fonts/LibreFranklin-SemiBoldItalic.eot');
    src: url('assets/fonts/LibreFranklin-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/LibreFranklin-SemiBoldItalic.woff2') format('woff2'),
        url('assets/fonts/LibreFranklin-SemiBoldItalic.woff') format('woff'),
        url('assets/fonts/LibreFranklin-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('assets/fonts/LibreFranklin-ThinItalic.eot');
    src: url('assets/fonts/LibreFranklin-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/LibreFranklin-ThinItalic.woff2') format('woff2'),
        url('assets/fonts/LibreFranklin-ThinItalic.woff') format('woff'),
        url('assets/fonts/LibreFranklin-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Circular';
    src: url('assets/fonts/CircularRegular.eot');
    src: url('assets/fonts/CircularRegular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CircularRegular.woff2') format('woff2'),
        url('assets/fonts/CircularRegular.woff') format('woff'),
        url('assets/fonts/CircularRegular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Abstracts';
    src: url('assets/fonts/CircularAbstracts.eot');
    src: url('assets/fonts/CircularAbstracts.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CircularAbstracts.woff2') format('woff2'),
        url('assets/fonts/CircularAbstracts.woff') format('woff'),
        url('assets/fonts/CircularAbstracts.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('assets/fonts/Circular-Bold.eot');
    src: url('assets/fonts/Circular-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Circular-Bold.woff2') format('woff2'),
        url('assets/fonts/Circular-Bold.woff') format('woff'),
        url('assets/fonts/Circular-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Book';
    src: url('assets/fonts/Circular-Book.eot');
    src: url('assets/fonts/Circular-Book.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Circular-Book.woff2') format('woff2'),
        url('assets/fonts/Circular-Book.woff') format('woff'),
        url('assets/fonts/Circular-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('assets/fonts/LibreFranklin-ExtraBold.eot');
    src: url('assets/fonts/LibreFranklin-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/LibreFranklin-ExtraBold.woff2') format('woff2'),
        url('assets/fonts/LibreFranklin-ExtraBold.woff') format('woff'),
        url('assets/fonts/LibreFranklin-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'CircularSawCondensed';
    src: url('assets/fonts/CircularSawCondensedRegularSWFTE.eot');
    src: url('assets/fonts/CircularSawCondensedRegularSWFTE.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CircularSawCondensedRegularSWFTE.woff2') format('woff2'),
        url('assets/fonts/CircularSawCondensedRegularSWFTE.woff') format('woff'),
        url('assets/fonts/CircularSawCondensedRegularSWFTE.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('assets/fonts/LibreFranklin-MediumItalic.eot');
    src: url('assets/fonts/LibreFranklin-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/LibreFranklin-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/LibreFranklin-MediumItalic.woff') format('woff'),
        url('assets/fonts/LibreFranklin-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('assets/fonts/CircularStd-Book.eot');
    src: url('assets/fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CircularStd-Book.woff2') format('woff2'),
        url('assets/fonts/CircularStd-Book.woff') format('woff'),
        url('assets/fonts/CircularStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('assets/fonts/CircularStd-Book_1.eot');
    src: url('assets/fonts/CircularStd-Book_1.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CircularStd-Book_1.woff2') format('woff2'),
        url('assets/fonts/CircularStd-Book_1.woff') format('woff'),
        url('assets/fonts/CircularStd-Book_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('assets/fonts/CircularStd-Bold.eot');
    src: url('assets/fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CircularStd-Bold.woff2') format('woff2'),
        url('assets/fonts/CircularStd-Bold.woff') format('woff'),
        url('assets/fonts/CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('assets/fonts/CircularStd-Black.eot');
    src: url('assets/fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CircularStd-Black.woff2') format('woff2'),
        url('assets/fonts/CircularStd-Black.woff') format('woff'),
        url('assets/fonts/CircularStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std Medium';
    src: url('assets/fonts/CircularStd-Medium.eot');
    src: url('assets/fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CircularStd-Medium.woff2') format('woff2'),
        url('assets/fonts/CircularStd-Medium.woff') format('woff'),
        url('assets/fonts/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('assets/fonts/CircularStd-Bold_1.eot');
    src: url('assets/fonts/CircularStd-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CircularStd-Bold_1.woff2') format('woff2'),
        url('assets/fonts/CircularStd-Bold_1.woff') format('woff'),
        url('assets/fonts/CircularStd-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std Black';
    src: url('assets/fonts/CircularStd-Black.eot');
    src: url('assets/fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CircularStd-Black.woff2') format('woff2'),
        url('assets/fonts/CircularStd-Black.woff') format('woff'),
        url('assets/fonts/CircularStd-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std Bold';
    src: url('assets/fonts/CircularStd-Bold.eot');
    src: url('assets/fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CircularStd-Bold.woff2') format('woff2'),
        url('assets/fonts/CircularStd-Bold.woff') format('woff'),
        url('assets/fonts/CircularStd-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('assets/fonts/CircularStd-Black_1.eot');
    src: url('assets/fonts/CircularStd-Black_1.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CircularStd-Black_1.woff2') format('woff2'),
        url('assets/fonts/CircularStd-Black_1.woff') format('woff'),
        url('assets/fonts/CircularStd-Black_1.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std Medium Italic';
    src: url('assets/fonts/CircularStd-MediumItalic.eot');
    src: url('assets/fonts/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CircularStd-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/CircularStd-MediumItalic.woff') format('woff'),
        url('assets/fonts/CircularStd-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
