// Only load the global necessary , the specific styles will be imported by each .scss that want to use it
@import './typography';
@import './colors';
@import './mixins';
@import './media-queries';
@import './classes';
