<div fxFlex [class]="themeService.currentTheme">
  <mat-sidenav-container fxFill>
    <mat-sidenav #sidenav mode="over" ngClass.gt-sm="has-border">
      <nav>
        <mat-list>
          <mat-divider></mat-divider>
          <a mat-list-item class="not-action user-name">
            <span><b translate>shell_logged-as</b>&nbsp;<b>{{ username }}</b></span>
          </a>
          <mat-divider></mat-divider>

          <a mat-list-item class="not-action">
            <span><b translate>shell_main-pages</b></span>
          </a>
          <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="sidenav.close()">
            <span>&emsp;&emsp;</span><span translate>shell_home</span>
          </a>
          <a mat-list-item routerLink="/favorites" routerLinkActive="active" (click)="sidenav.close()">
            <span>&emsp;&emsp;</span><span translate>shell_favorites</span>
          </a>
          <a mat-list-item routerLink="/about" routerLinkActive="active" (click)="sidenav.close()">
            <span>&emsp;&emsp;</span><span translate>shell_about</span>
          </a>
          <mat-divider></mat-divider>

          <a mat-list-item routerLink="/account" routerLinkActive="active" (click)="sidenav.close()">
            <span><b translate>shell_account</b></span>
          </a>
          <mat-divider></mat-divider>

          <a mat-list-item routerLink="/help" routerLinkActive="active" (click)="sidenav.close()">
            <span><b translate>shell_help</b></span>
          </a>
          <mat-divider></mat-divider>

          <a mat-list-item (click)="sidenav.close() && logout()">
            <span><b translate>shell_logout</b></span>
          </a>
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header [sidenav]="sidenav"></app-header>
      <app-alert
        *ngIf="alertService.alert.render"
        [type]="alertService.alert.type"
        [text]="alertService.alert.text"
        [classes]="alertService.alert.classes"
        [solution]="alertService.alert.solution"
        [hasButton]="alertService.alert.hasButton"
        [textButton]="alertService.alert.textButton"
        [hasLoadingBar]="alertService.alert.hasLoadingBar"
        (clickButton)="alertService.clickButton()"
        (closeAlert)="alertService.strictClose()">
      </app-alert>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
