@import 'src/app/shared/styles/index';

.movie-card {
  height: 100%;
  overflow: hidden;
  width: 100%;

  img {
    @include transition(all, 0.4s);

    object-fit: contain;
    height: 100%;
    width: 100%;

    &:hover {
      @include transform(scale(1.1));
    }
  }
}
