@import 'src/app/shared/styles/index';

.search {
  padding-top: 12px;

  &__search_section {
    padding: 0 0 12px 12px;

    @include mobile() {
      padding: 12px;
    }

    input {
      width: 100%;
    }
  }

  &__grid_section {
  }
}
