<div class="search" fxFlex="100" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="12px">
  <section class="search__search_section" fxFlex="300px" fxFlex.lt-sm="100">
    <div>
      <app-icon-input
        type="text"
        icon="search"
        [value]="inputValue"
        [disabled]="isLoading"
        (change)="search($event)"
        [placeholder]="'search_placeholder' | translate">
      </app-icon-input>
    </div>

    <div>
      <ng-template [ngIf]="!media.isActive('lt-sm')">
        <mat-list role="list">
          <mat-list-item
            role="listitem"
            *ngFor="let genre of genres"
            (click)="search(genre); inputValue = genre">
            <span>{{ genre }}</span>
          </mat-list-item>
        </mat-list>
      </ng-template>
    </div>
  </section>

  <section fxFlex fxFlex.lt-sm="100" class="search__grid_section">
    <app-movie-grid [data]="filterMovies" [isLoading]="isLoading" (select)="movieSelected($event)"></app-movie-grid>
  </section>
</div>
