/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */
 @import '/app/shared/styles/index';

// Theme variables, must be included before the libraries to allow overriding defaults
@import 'theme/theme-variables';

// 3rd party libraries
@import '~material-design-icons-iconfont/dist/fonts/material-icons.css';

// Angular Material custom theme
// The mixins below must be included once so we separated them from the variables
@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@mixin theme($color1, $color2, $dark) {
  $app-primary: mat-palette($color1);
  $app-accent:  mat-palette($color2, A200, A100, A400);

  $app-warn:    mat-palette($mat-red);

  $app-theme:   mat-light-theme($app-primary, $app-accent, $app-warn);

  @if $dark {
    $app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);
  }

  @include angular-material-theme($app-theme);
}

$theme-colors-name: (
  'red',
  'grey',
  'blue',
  'indigo',
  'orange',
  'light-blue',
  'blue-grey',
  'light-green',
  'deep-orange',
);

$theme-colors: (
  $mat-red,
  $mat-grey,
  $mat-blue,
  $mat-indigo,
  $mat-orange,
  $mat-light-blue,
  $mat-blue-grey,
  $mat-light-green,
  $mat-deep-orange,
);

@mixin generateCombinations($isDark) {
  @for $index1 from 1 through length($theme-colors) {
    @for $index2 from 1 through length($theme-colors) {
      &.#{nth($theme-colors-name, $index1)}_#{nth($theme-colors-name, $index2)} {
        @include theme(nth($theme-colors, $index1), nth($theme-colors, $index2), $isDark);
      }
    }
  }
}

@include theme($primary-default, $accent-default, false);

.light-theme {
  $dark: false;

  @include theme($primary-default, $accent-default, $dark);
  @include generateCombinations($dark);
}

.dark-theme {
  $dark: true;

  @include theme($primary-default, $accent-default, $dark);
  @include generateCombinations($dark);
}

// Theme customization
@import 'theme/theme';
